.img_box{
	
	
	padding-top: 0px;
	border-radius: 5px;
	border: 1px solid black;
	   background-color: #eee;

    -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
   
     margin-bottom: 20px;
	
	
}
.img_box>p{padding-left: 10px;}
.img{width: 100%;}
.masonry { /* Masonry container */
	 min-width: 700px;
  
     -moz-column-count:5;
    -moz-column-gap: 0%;
    -moz-column-width: 20%;
    -webkit-column-count:5;
    -webkit-column-gap: 0%;
    -webkit-column-width: 20%;
    column-count: 5;
    column-gap: 0%;
    column-width: 20%;
}
.item { /* Masonry bricks or child elements */
 
}